/* ------------------------------------------------------------ *\
	Entry
\* ------------------------------------------------------------ */

.entry {  }
.entry ul:not([class]),
.entry ol:not([class]) { padding-left: 30px; }

.entry blockquote { border-left: 2px solid $c-base; margin-left: 0; padding: 0 0 0 16px; }
/*
 * Unset nested content selector styles
 * - Prevents layout styles from cascading too deeply
 * - helps with plugin compatibility
 */
.entry .entry { margin: inherit; max-width: inherit; padding: inherit; }


/* Blocks */
.entry > *.alignwide { width: 100%; max-width: 100%; clear: both; }
.entry > *.alignfull {position: relative; left: -$shell-gutter; width: calc( 100% + (2 * $shell-gutter)); max-width: calc( 100% + (2 * $shell-gutter)); clear: both; }
.entry > *.aligncenter {margin-left: auto; margin-right: auto; }

@media only screen and (min-width: calc($shell-max-width + $shell-gutter * 2)) {
  .entry > *.alignfull {
  	left: calc(( $shell-max-width - 100vw)/2);
	width: calc( 100% + (100vw - $shell-max-width));
	max-width: calc( 100% + (100vw - $shell-max-width));
  }
}
